<!--part_1-->
*{  
  box-sizing:border-box;
  box-sizing:border-box;
  box-sizing:border-box;
  margin:0;	
}
body {
  background:none repeat scroll 0 0 #d3d3d3;
  font-size:100%;
  font-family: Forum;
  color:#444;
  margin: 0;
}
.size-1140 .line {
  margin:0 auto;
  max-width:75em;
  padding:0 0.625em;
}
.line:after{
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}
header a{
  text-decoration: none;
}
a.white-btn {
  border: 2px solid #fff;
  border-radius: 2.5em;
  color: #fff;
  display: block;
  margin-top: 1.5em;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 0.8em 1em 0.8em 1em;
  text-decoration: none;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
a.white-btn:hover {
  background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
}
#about-us {
    background: none repeat scroll 0 0 #fff;
    height: 23em;
}
#about-us h4 {
  padding-top: 2.3em;
  padding-bottom: 0;
  text-align: center;
}
hr.short{
  border: none;
  margin-top: -1.25em;
  float: none;
  height: 0.160em;
  width: 4.375em;
  background-color: #92c500;
}
#about-us p {
  padding-right: 3em;
  color: #888a8c;
  text-align: center;
}

#second-block {
    height: 12em;
    width: 100%;
    display: block;
}
#second-block .numblock {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #fff;
    background-color: #92c500;
    line-height: 1em;
}

#second-block .numblock h1 {
    font-size: 4.5em;
    font-weight: 100;
}

#second-block .numblock p {
  font-size: 3em;
}
footer {
  box-sizing: border-box;
  height: 40em;
  width: 100%;
  background-color: #00283a;
}
footer .footer-text {
  padding: 5em 5em 5em 5em;
  height: 22em;
}
footer .footer-text h2 {
  display: block;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: #fff;
}
footer .footer-text p {
  display: block;
  letter-spacing: 1px;
  font-size: 1.2em;
  padding-right: 3em;
  color: rgba(255,255,255,0.5);
}
footer .footer-text .contact-footer h5 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-size: 1.3em;
  color: #fff;
}
footer .footer-text .contact-footer p {
  color: rgba(255,255,255,0.5);
  font-size: 1.3em;
  padding-left: 1em;
}
footer .footer-text .footer-links li {
  list-style: none;
  line-height: 2em;
}
footer .footer-text .contact-footer a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-size: 1em;
}
footer .footer-text .contact-footer a:hover {
  color: #92c500;
  text-decoration: none;
}
footer .footer-text .footer-links li i {
  color: rgba(255,255,255,0.5);
}
footer .footer-text .footer-links a {
  color: rgba(255,255,255,0.5);
  padding-left: 0.7em;
  font-size: 1.3em;
  text-decoration: none;
}
footer .footer-text .footer-links a:hover {
  color: #92c500;
  text-decoration: none;
}
.gallery {
  margin-bottom: 4px;
}
.gallery_content {
  padding-left: 3px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;
}

.card:nth-child(1) {
  margin-right: 4px;
}

.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 4px;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.9s;
          transition: transform 0.9s;
}

.card__front {
  background-color: #92c500;
}

.card__back {
  background-color: #000000;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  line-height: 20px;
}

/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

footer .bottom-tab {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 3em;
  padding: 1em 0;
  margin-top: 0em;
}
.bottom-left h3 {
  font-size: 1.5em;
  margin-top: 0.8em;
  margin-left: 3em;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
}
.bottom-right input[type="email"] {
  outline: none;
  width: 100%;
  padding: 12px 15px;
  color: #848484;
  font-size: 20px;
  border: 1px solid #3a3939;
  width: 74%;
  letter-spacing: 3px;
  background: #fff;
}
.bottom-right input[type="submit"]{
  border: none;
  padding: 14px 22px 12px;
  font-size: 19px;
  outline: none;
  text-transform: uppercase;
  margin: 2px 0 0 -3px;
  font-weight: 700;
  letter-spacing: 1px;
  background: #92c500;
  color:#fff;
}
.bottom-right input[type="submit"]:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
}
.copy-right {
  color: rgba(255,255,255,0.5);
  font-size: 1.2em;
  text-align: center;
}
.copy-right a {
  color: #fff;
  text-decoration: none;
}
.s-1, .s-2,.s-five,.s-3, .s-4, .s-5, .s-6, .s-7, .s-8, .s-9, .s-10, .s-11, .s-12, .l-1, .l-2, .l-five, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
  float:left;
  position:relative;
}
.s-1 {width:8.3333%;}
.s-2 {width:16.6666%;}
.s-five {width:16.6666%;}
.s-3 {width:25%;}
.s-4 {width:33.3333%;}
.s-5 {width:41.6666%;}
.s-6 {width:50%;}
.s-7 {width:58.3333%;}
.s-8 {width:66.6666%;}
.s-9 {width:75%;}
.s-10 {width:83.3333%;}
.s-11 {width:90%;}
.s-12 {width:100%;}
.l-1 {width:8.3333%;}
.l-2 {width:16.6666%;}
.l-3 {width:25%;}
.l-five {width:32%;}
.l-4 {width:33.3333%;}
.l-5 {width:41.6666%;}
.l-6 {width:50%;}
.l-7 {width:58.3333%;}
.l-8 {width:66.6666%;}
.l-9 {width:75%;}
.l-10 {width:83.3333%;}
.l-11 {width:90%;}
.l-12 {width:100%;} 

<!--part_2-->
nav {
  background: none repeat scroll 0 0 #00283a;
}
header {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0;
  box-shadow: 0 10px rgba(0, 0, 0, 0.5);
  background-color: #00283a;
}
header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .03em;
}
header .logo {
  color: #fff;
  position: absolute;
  margin: 3px 10px;
}
header .navicon-button {
  padding: 23px 0;
  margin: 0 15px;
  display: inline-block;
  position: relative;
  float: right;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
}
header .navicon-button.open {
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -ms-transform: scale(0.65);
  -o-transform: scale(0.65);
  transform: scale(0.65);
}
header .navicon-button.open:not(.steps) .navicon:before, header .navicon-button.open:not(.steps) .navicon:after {
  top: 0 !important;
}
header .navicon-button.open .navicon {
  background: transparent;
}
header .navicon-button.open .navicon:before, header .navicon-button.open .navicon:after {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header .navicon-button.open .navicon:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .navicon-button.open .navicon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .navicon-button .navicon {
  position: relative;
  width: 30px;
  height: 3px;
  background: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header .navicon-button .navicon:before, header .navicon-button .navicon:after {
  display: block;
  content: "";
  height: 3px;
  width: 30px;
  background: #fff;
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
header .navicon-button .navicon:before {
  top: 10px;
}
header .navicon-button .navicon:after {
  top: -10px;
}
header .navicon-button:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header .navicon-button:hover .navicon:before,
header .navicon-button:hover .navicon:after {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
header nav {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);
  display: none;
  clear: both;
  padding: 0;
}
header nav ul {
  list-style:none outside none;
  padding: 0;
  margin: 0;
  background-color: #00283a;
}
header nav ul li {
  text-align: center;
  margin: 0;
  padding: 0;
}
header nav ul li a {
  display: block;
  padding: 0.75em 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: .1em;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
header nav ul li a:hover{
  color: #00283a;
  background: #92c500;
}
header nav ul li a:active {
  color: #00283a;
  background: #92c500;    
}
header nav.nav-expanded {
  display: block;
}
header *, header *:before, header *:after {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#first-block {
  background: none repeat scroll 0 0 #00283a;
  padding: 2.5em;
  padding-bottom: 2em;
  text-align: center;
  color: #fff;
  border-top: 5px solid rgba(0, 18, 25,0.6);
  line-height: 1.3em;
}
#first-block h1 {
  font-size: 3.5em;
  font-weight: 500;
  margin-top: 0;
}
#first-block h2 {
  font-size: 2.1em;
  font-weight: 300;
}
#first-block p {
  font-size: 1.2em;
  padding-top: 0.5em;
}

@media screen and (max-width: 320px) {
  .size-1140 {max-width:320px;}
  .s-1 {width:8.3333%;}
  .s-2 {width:16.6666%;}
  .s-3 {width:25%;}
  .s-4 {width:33.3333%;}
  .s-5 {width:41.6666%;}
  .s-6 {width:50%;}
  .s-7 {width:58.3333%;}
  .s-8 {width:66.6666%;}
  .s-9 {width:75%;}
  .s-10 {width:83.3333%;}
  .s-11 {width:90%;}
  .s-12 {width:100%;}

  header h1{
    color: green;
    font-size: 1.6em;
  }
  header .logo{
    padding-top: 0.5em;
  }
  header .navicon-button .navicon{
    width: 20px;
    height: 2px;  
  }
  header .navicon-button .navicon:before, header .navicon-button .navicon:after{
    width: 20px;
    height: 2px;     
  }
  header .navicon-button .navicon:before{
    top: 6px;
  }
  header .navicon-button .navicon:after{
    top: -6px;
  }
  #first-block{
    padding: 1em;
    line-height: 1em;
  }
  a.white-btn{
    font-size:0.8em;
  }
  #first-block h1{
    font-size: 2.2em;
  }
  #first-block h2{
    font-size: 0.95em;
    line-height: 1.1em;
  }
  #first-block p {
    font-size: 0.8em;
  }
  #about-us {
    height: 37em;
  }
  #about-us h4 {
    padding-top: 0.4em;
    font-size: 1.1em;
  }
  hr.short{
    margin-top: -1em;
    height: 0.12em;
    width: 4em;
  }
  #about-us p {
    text-align: center;
    padding-right: 0;
    font-size: 0.85em;
  }
  #second-block .numblock {
    height: 7em;
  }
  #second-block .numblock h1 {
    font-size: 3em;
    font-weight: 100;
  }
  #second-block .numblock p{
    font-size: 0.95em;
  }
}

@media screen and (min-width: 321px) and (max-width:480px) {
  .size-1140 {max-width:480px}
  .l-1 {width:8.3333%;}
  .l-2 {width:16.6666%;}
  .l-five {width:20%;}
  .l-3 {width:25%;}
  .l-4 {width:33.3333%;}
  .l-5 {width:41.6666%;}
  .l-6 {width:50%;}
  .l-7 {width:58.3333%;}
  .l-8 {width:66.6666%;}
  .l-9 {width:75%;}
  .l-10 {width:83.3333%;}
  .l-11 {width:90%;}
  .l-12 {width:100%;}
  .s-1 {width:8.3333%;}
  .s-2 {width:16.6666%;}
  .s-five {width:20%;}
  .s-3 {width:25%;}
  .s-4 {width:33.3333%;}
  .s-5 {width:41.6666%;}
  .s-6 {width:50%;}
  .s-7 {width:58.3333%;}
  .s-8 {width:66.6666%;}
  .s-9 {width:75%;}
  .s-10 {width:83.3333%;}
  .s-11 {width:90%;}
  .s-12 {width:100%}
  .m-1 {width:8.3333%;}
  .m-2 {width:16.6666%;}
  .m-3 {width:25%;}
  .m-4 {width:33.3333%;}
  .m-5 {width:41.6666%;}
  .m-6 {width:50%;}
  .m-7 {width:58.3333%;}
  .m-8 {width:66.6666%;}
  .m-9 {width:75%;}
  .m-10 {width:83.3333%;}
  .m-11 {width:90%;}
  .m-12 {width:100%;}
  header h1{
    color: yellow;
    font-size: 1.9em;
  }
  header .logo {
    padding-top: 0.3em;
  }
  header .navicon-button .navicon{
    width: 25px;
    height: 2px;  
  }
  header .navicon-button .navicon:before, header .navicon-button .navicon:after{
    width: 25px;
    height: 2px;     
  }
  header .navicon-button .navicon:before{
    top: 8px;
  }
  header .navicon-button .navicon:after{
    top: -8px;
  }
  header nav ul li a{
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 0.6em 0;
    font-size: 0.85em;
    font-weight: 400;
  }
  #first-block{
    padding: 1em 0.6em; 
  }
  a.white-btn{
    font-size:0.9em;
  }
  #first-block h1{
    font-size: 2.4em;
  }
  #first-block h2{
    font-size: 1.2em;
  }
  #first-block p {
    font-size: 0.8em;
  }
  #about-us {
    height: 40.5em;
  }
  #about-us h4 {
    padding-top: 1em;
    font-size: 1.3em;
  }
  hr.short{
    margin-top: -1em;
    height: 0.14em;
  }
  #about-us p {
    padding-right: 0;
    font-size: 0.9em;
  }
  #second-block .numblock {
    height: 8em;
  }

  #second-block .numblock h1 {
    font-size: 3.5em;
    font-weight: 100;
  }
  #second-block .numblock p{
    font-size: 1em;
  }
}

@media screen and (min-width:481px) and (max-width: 768px) {
  .size-1140 {max-width:768px;}
  .s-1 {width:8.3333%;}
  .s-2 {width:16.6666%;}
  .s-five {width:20%;}
  .s-3 {width:25%;}
  .s-4 {width:33.3333%;}
  .s-5 {width:41.6666%;}
  .s-6 {width:50%;}
  .s-7 {width:58.3333%;}
  .s-8 {width:66.6666%;}
  .s-9 {width:75%;}
  .s-10 {width:83.3333%;}
  .s-11 {width:90%;}
  .s-12 {width:100%}
  .l-1 {width:8.3333%;}
  .l-2 {width:16.6666%;}
  .l-3 {width:25%;}
  .l-4 {width:33.3333%;}
  .l-5 {width:41.6666%;}
  .l-6 {width:50%;}
  .l-7 {width:58.3333%;}
  .l-8 {width:66.6666%;}
  .l-9 {width:75%;}
  .l-10 {width:83.3333%;}
  .l-11 {width:90%;}
  .l-12 {width:100%;}
  .m-1 {width:8.3333%;}
  .m-2 {width:16.6666%;}
  .m-3 {width:25%;}
  .m-4 {width:33.3333%;}
  .m-5 {width:41.6666%;}
  .m-6 {width:50%;}
  .m-7 {width:58.3333%;}
  .m-8 {width:66.6666%;}
  .m-9 {width:75%;}
  .m-10 {width:83.3333%;}
  .m-11 {width:90%;}
  .m-12 {width:100%;}
  header h1{
    color: orange;
  }
  header .navicon-button .navicon{
    width: 25px;
    height: 2px;  
  }
  header .navicon-button .navicon:before, header .navicon-button .navicon:after{
    width: 25px;
    height: 2px;     
  }
  header .navicon-button .navicon:before{
    top: 8px;
  }
  header .navicon-button .navicon:after{
    top: -8px;
  }
  header nav ul li a{
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 0.8em 0;
    font-size: 0.9em;
  }    
  #first-block{
    padding: 1em 0.6em; 
  }
  #first-block h1{
    font-size: 2.7em;
  }
  #first-block h2{
    font-size: 1.5em;
  }
  #first-block p {
    font-size: 1em;
  }
  #about-us {
    height: 39em;
  }
  #about-us h4 {
    padding-top: 0.8em;
    font-size: 1.3em;
  }
  hr.short{
    margin-top: -1em;
    height: 0.14em;
  }
  #about-us p {
    padding-right: 0;
    font-size: 1em;
  }
  #second-block .numblock {
    height: 9em;
  }
  #second-block .numblock h1 {
    font-size: 3.8em;
  }
  #second-block .numblock p{
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  .nav-container{
    padding:0 0.625em;
  }
  header {
    height: 80px;
  }
  header h1{
    color: aqua;
  }
  header .logo {
    margin-top: 16px;
  }
  header .navicon-button{
    margin-top: 15px;
  }
  header nav ul li a{
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 0.8em 0;
  }  
  #about-us h4 {
    text-align: left;
    font-size: 1.5em;
  }
  hr.short{
    float: left;
    height: 0.15em;
  }
  #about-us p {
    font-size: 1.1em;
    text-align: justify;
  }
  #second-block .numblock {
    border-left: 1px solid  rgba(255, 255, 255, 0.5);
    height: 10em;
  }
  #second-block .numblock h1 {
    font-size: 4em;
  }
  #second-block .numblock p{
    font-size: 1.2em;
  } 
}
@media only screen and (min-width: 880px){
  header h1{
    color: #fff;
  }
  header .logo {
    margin-left: 0;
  }
  header .navicon-button {
    display: none;
  }
  header nav ul li {
    float: left;
    background: transparent;
  }
  header nav {
    display: block;
    float: right;
    border-top: 0;
    box-shadow: none;
    margin-left: 15px;
  }
  header nav ul li a {
    border: 0;
    padding:29px 15px 30px;
  }
}
.center {
  float:none;
  margin:0 auto;
  display: block;
  max-width:200px;
}

